img {
    width: 400px;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    padding: 0 2rem;
    max-width: 720px;
    display: grid;
}

.contents {
    display: flex;
    justify-content: space-between;
}